<%= form_with(model: costume, local: true) do |form| %>
  <% if costume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costume.errors.count, "error") %> prohibited this costume from being saved:</h2>

      <ul>
      <% costume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :costume_name %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item, id: :costume_item %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :costume_url %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :costume_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
